.inline-block {
  display: inline-block;
  vertical-align: top;
}

.navbar-item {
  display: inline-block;
  height: 25%;
  vertical-align: top;
}

.logo {
  padding: 1%;
  height: 25px;
  scale: 35%;
  margin: 10px;
  text-align: center;
  vertical-align: auto;
}

nav {
  width: 100%;
  padding: 0%;
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-left: 80%;
  word-spacing: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

footer ul {
  width: 50%;
  margin-left: 80%;
  word-spacing: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.heroImg {
  height: 600px;
  padding: 150px 1px 0px 120px;
  display: flex;
  align-items: center;
  align-items: start;
}

.content {
  width: 50%;
  max-height: 1%;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

footer {
  margin-top: auto;
  background-color: #f1d5db;
  border-top: 1.5px solid black;

  clear: both;
  padding: 0px;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.mySkills {
  margin: 20px 0;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.skillItem {
  width: 30%;
  margin: 0 1%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.skillItem img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.skillItem h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.skillItem p {
  font-size: 14px;
}

.myWork {
  margin: 20px 0;
  margin-top: 100px;
}

.workGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  margin-bottom: 100px;
}

button {
  background-color: #f1d5db;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 8px;
  transition: opacity 0.3s ease;
}

body {
  background-color: #e9e5e9;
}

@media only screen and (max-width: 600) {
  .inline-block {
    display: block;
  }

  .navbar-item {
    display: block;
    height: auto;
  }

  .logo {
    padding: 1%;
    height: 25px;
    transform: scale(0.35);
    margin: 10px auto;
    text-align: center;
    vertical-align: auto;
  }

  nav {
    width: 100%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    word-spacing: 15px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  footer ul {
    width: 100%;
    margin-left: 0;
    word-spacing: 15px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .heroImg {
    height: auto;
    padding: 150px 1px 0px 20px;
    display: flex;
    align-items: center;
  }

  .content {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
  }

  footer {
    margin-top: auto;
    background-color: #e3cee6;
    border-top: 1.5px solid black;
    clear: both;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  .mySkills {
    margin: 20px 0;
  }

  .flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .skillItem {
    width: 45%;
    margin: 0 2.5%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }

  .skillItem img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  .skillItem h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .skillItem p {
    font-size: 14px;
  }

  .myWork {
    margin: 20px 0;
  }

  .workGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  button {
    background-color: #e3cee6;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

  body {
    background-color: #e9e5e9;
  }
}
